#title {
    grid-area: title;
}
#q1 {
    grid-area: q1;
}
#q2 {
    grid-area: q2;
}
#generatorbutton {
    grid-area: generatorbutton;
}
#day1 {
    grid-area: day1;
    background-color:grey;
}
#day2 {
    grid-area: day2;
    background-color:rgb(22, 21, 21);
}
#day3 {
    grid-area: day3;
    background-color:grey;
}
#day4 {
    grid-area: day4;
    background-color:rgb(22, 21, 21);
}

#schedule {
    display:grid;
    grid-area: schedule;
    grid-template-columns:  25vw 25vw 25vw 25vw;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    grid-template-areas: 
    "day1 day2 day3 day4"
    "day1 day2 day3 day4"
    "day1 day2 day3 day4"
    "day1 day2 day3 day4";
}
#form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25vh 25vh 25vh 25vh 100vh;
    grid-template-areas: 
    "title"
    "q1"
    "q2"
    "generatorbutton"
    "schedule";
}

